doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TimeBus
    body 
        each val in buses
            p= 'Автобус время: '+val.route_time_otpr+' '+val.route_time_prib
            p= 'Мест осталось: '+val.schedule_free_place+' из 25'